#include "mdi.h"
MenuInit MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Text", IDM_TEXT
		MENUITEM "&Graphics", IDM_GRAPHICS
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END

	POPUP "&Colors"
	BEGIN
		MENUITEM "&Black", IDM_BLACK
		MENUITEM "&Red", IDM_RED
		MENUITEM "&Green", IDM_GREEN
		MENUITEM "&Blue", IDM_BLUE
		MENUITEM "&White", IDM_WHITE
	END

	POPUP "&Windows"
	BEGIN
		MENUITEM "&Cascade        Shift+F5", IDM_CASCADE
		MENUITEM "&Tile                 Shift+F4", IDM_TILE
		MENUITEM "Arrange &Icons", IDM_ARRANGEICON
		MENUITEM SEPARATOR
		MENUITEM "Close &All", IDM_CLOSEALL
	END

END

MenuText MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Text", IDM_TEXT
		MENUITEM "&Graphics", IDM_GRAPHICS
		MENUITEM "&Close", IDM_CLOSE
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END

END


MenuGraf MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Text", IDM_TEXT
		MENUITEM "&Graphics", IDM_GRAPHICS
		MENUITEM "&Close", IDM_CLOSE
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END

END


MdiAccel ACCELERATORS 
BEGIN
	VK_F5, IDM_CASCADE, VIRTKEY, SHIFT
	VK_F4, IDM_TILE, VIRTKEY, SHIFT
END

